.default-color0.chart-pie { -fx-pie-color: #C44C4C;}
.default-color1.chart-pie { -fx-pie-color: #EA970B;}
.default-color2.chart-pie { -fx-pie-color: #AED581;}
.default-color3.chart-pie { -fx-pie-color: #50C878;}
.default-color4.chart-pie { -fx-pie-color: #00000025;}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, -40%);
    -fx-border-width: 0px;
}